/* Whole document: */
.reveal .slide-logo {
  height: 5% !important;
  max-width: unset !important;
  max-height: unset !important;
}

.quarto-title-authors{
  font-size: 34px !important;
}

h1{
  font-size: 54px !important;
}

h2{
  font-size: 44px !important;
}

h3{
  font-size: 24px !important;
}

h4{
  font-size: 20px !important;
  color: grey !important;
}

.slide_1{
  font-size: 14px !important;
}

.slide_2{
  font-size: 15px !important;
  text-align: justify !important;
  text-justify: inter-word !important;
  vertical-align: middle !important;
}

.figure{
  vertical-align: middle !important;
  align-items: center !important;
  justify-content: center !important;
}

.imagenSeleccionada{
  align-items: center !important;
  justify-content: center !important;
}
